.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.count {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.container {
  width: 1000px;
}
